#include "menu.h"

MENU_ID MENU
BEGIN
POPUP "File"
BEGIN
MENUITEM "open", MENU_FILE_OPEN
MENUITEM "close", MENU_FILE_CLOSE
MENUITEM "exit", MENU_FILE_EXIT
END
POPUP "View"
BEGIN
MENUITEM "formated", MENU_CHANGE_MODE, CHECKED
END
END
